<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>dStress (Train).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E2DCE7831E386EC20023D451</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2DCE79A1E386EC20023D451</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2DCE7A51E386EC20023D451</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
